table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    margin: 10px auto;
    }
    th {
    background: #AFCDE7;
    color: white;
    padding: 20px 100px;
    }

    th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    padding: 20px 200px;
    }
    td {
    background: #D8E6F3;
    }
    th:first-child, td:first-child {
    text-align: left;
    }